/* Original Bootstrap's CSS depends on empty href attributes to style cursors
for several components (pagination, tabs etc.). But in AngularJS adding empty
href attributes to link tags will cause unwanted route changes. This is why we
need to remove empty href attributes from directive templates and as a result
styling is not applied correctly. */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

/* The fixed navbar will overlay your other content, unless you add padding to
the top of the <body>. Try out your own values or use our snippet below.*/
body {
  padding-top: 80px;
}

/* Iframe that shows the weather chart*/
.weather-frame {
  width: 100%;
  height: 184px;
  border: none;
  padding: 0;
  margin: 0;
}
.panel-weather {
  border-radius: 0px;
}

.panel-weather .panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.panel-weather .panel-body {
  padding: 0;
  max-height: 184px;
}
