<!DOCTYPE html>
<html ng-app="lightUpPi">
<head>
   <meta charset="utf-8" />
   <title>LightUpPi Alarm</title>

   <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />

   <!-- styles -->
   <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
   <link href="css/lightupweb.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="MainCtrl">
   <!-- navigation menu -->
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://lightupalarm.embeddedlog.com/">LightUpPi Alarm</a>
         </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
            <ul class="nav navbar-nav">
               <li class="active"><a>Home<span class="sr-only"> (current)</span></a></li>
               <li><a>Add Alarm</a></li>
               <li><a>About</a></li>
            </ul>
         </div>

      </div>
   </nav>


   <!-- main content -->
   <div class="container">
      <div style="width:100%" ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>
         <h1>Hello, World!</h1>
         <h2>The date and time on the server is: {{ time }}</h2>
      <p>Name: <input type="text" ng-model="name"></p>
      <p>{{name}}</p>

      <div class="row">
         <div class="col-lg-6">
            Left half
         </div>
         <div class="col-lg-6">
            Right half
         </div>
      </div>
   </div>


   <!-- footer -->
   <footer>
      <div class="container">
         <div class="copyright"><a href="http://www.embeddedlog.com/" target="_blank">Copyright © 2015 carlosperate</a></div>
      </div>
   </footer>


   <!-- add javascripts -->
   <script src="js/angular/angular.min.js"></script>
   <script src="js/angular/ui-bootstrap-tpls-0.13.0.min.js"></script>
   <script src="js/lightuppi.js"></script>
   <script src="js/lightuppi_controller.js"></script>
</body>
</html>
